<!-- MapServer Template -->
      <h4 align="center"><b>Capa: Distritos</b></h4>
      <p>
    <table class="table offset-1 col-md-10">
    	<thead class="thead-dark" style="font-size: 14">
    		<tr align="center">
		        <th scope="col">#</th>
		        <th scope="col">Nombre</th>
		        <th scope="col">% Desertores</th>
		        <th scope="col">Cant. de embarazadas</th>
		        <th scope="col">Asistencia tecnica</th>
		        <th scope="col">Economico</th>
		        <th scope="col">Material didactico</th>
		        <th scope="col">Infraestructura</th>
		        <th scope="col">Mobiliario y equipo</th>
		        <th scope="col">Remuneracion docente</th>
		        <th scope="col">Material de construccion</th>
		        <th scope="col">Alimentos</th>
		      </tr>
    	</thead>
      