<!-- MapServer Template -->
<html>
  <head>
  	<meta charset="UTF-8">
    <title>Resultados de consulta</title>
    <link href="/tutorial/ms35.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body bgcolor="#ffffff">
    <br><h3 align="center"><b>Pagina de resultados de la consulta</b></h3>
    <p align="left">&nbsp;</p>
