<!-- MapServer Template -->
      <h4 align="center"><b>Capa: Centros escolares</b></h4>
      <p>
    <table class="table offset-1 col-md-10">
      <thead class="thead-dark" style="font-size: 14">
    		<tr align="center">
		        <th scope="col">#</th>
		        <th scope="col">Nombre</th>
		        <th scope="col">Distr</th>
		        <th scope="col">Sector</th>
		        <th scope="col">Zona</th>
		        <th scope="col">Direccion</th>
		        <th scope="col">Correo</th>
		        <th scope="col">Cant desercion</th>
		      </tr>
    	</thead>