<!-- MapServer Template -->
<html>
  <head>
    <title>Resultados de consulta</title>
    <link href="/tutorial/ms35.css" rel="stylesheet" type="text/css">
  </head>
  <body bgcolor="#ffffff">
    <h3>Pagina de resultados de la consulta</h3>
    <table width="680" border="0" bgcolor="c0c0c0">
      <tr>
        <td><b>Ventana de busqueda</b>:</td>
        <td>[imgext]<br></td>
      </tr>
      <tr>
        <td><b>Punto seleccionado</b>:</td>
        <td>[img.x], [img.y] (Image coordinates)<br>
            [mapx], [mapy] (Map coordinates)
        </td>
      </tr>
      <tr>
        <td><b>Metrica de la consulta</b>:</td>
        <td>Numero de capas con resultado=[nl]<br>
            Numero total de resultados=[nr]
        </td>
      </tr>
    </table>
    <p align="left">&nbsp;</p>
