<!-- MapServer Template --> 
<html>
<head>
<title>Deserción en el municio de SS</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF8">

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">


<script language="JavaScript">

  var pansize = 0.10;

  function pan(direction) {
    var x, y;
    if(direction == 'n') {
      x = ([mapwidth]-1)/2.0;
      y = 0 - ([mapheight] * pansize)/2.0;
    } else if(direction == 'nw') {
      x = 0 - ([mapwidth] * pansize)/2.0;
      y = 0 - ([mapheight] * pansize)/2.0;
    } else if(direction == 'ne') {
      x = ([mapwidth]-1) + ([mapwidth] * pansize)/2.0;
      y = 0 - ([mapheight] * pansize)/2.0;
    } else if(direction == 's') {
      x = ([mapwidth]-1)/2.0;
      y = ([mapheight]-1) + ([mapheight] * pansize)/2.0;
    } else if(direction == 'sw') {
      x = 0 - ([mapwidth] * pansize)/2.0;
      y = ([mapheight]-1) + ([mapheight] * pansize)/2.0;
    } else if(direction == 'se') {
      x = ([mapwidth]-1) + ([mapwidth] * pansize)/2.0;
      y = ([mapheight]-1) + ([mapheight] * pansize)/2.0;
    } else if(direction == 'e') {
      x = ([mapwidth]-1) + ([mapwidth] * pansize)/2.0;
      y = ([mapheight]-1)/2.0;
    } else if(direction == 'w') {
      x = 0 - ([mapwidth] * pansize)/2.0;
      y = ([mapheight]-1)/2.0;
    }

    document.mapserv.zoom[3].selected = true; // force pan
    document.mapserv.imgxy.value = x + " " + y;
    document.getElementById('refrescar').click();

  }

 

</script>
</head>

<body bgcolor="#3F888F" text="#000000">
<table width="1200" align="center">

<tr>
    <td width="600">
	<h2 align="center">Deserción en los centros educativos del sector público y privado en el municipio de San Salvador</h2>

<!-- START OF MAPSERVER FORM -->
<form name="mapserv" method="GET" action="/cgi-bin/mapserv">
<table bgcolor="#FFFFFF" class="table" width="500" border="0" align="center">
  <tr>
   
    <td>
	<table width="500" border="1">
		<tr>
	    <td colspan="4"><b>Selecciona las capas:</b><br>
<!-- SPECIFY VECTOR LAYERS -->
		  <table>
		  	<tr align="center">
		  		<td>
		  			<input id="cb_mun_ss" type="checkbox" onclick="refrescarBTN();" name="layer" value="mun_ss"[mun_ss_check]>Municipio SS &nbsp;
		  		</td>
		  		<td>
		  			<input id="cb_distritos" type="checkbox" onclick="refrescarBTN();" name="layer" value="distritos_ss"[distritos_ss_check]>Distritos &nbsp;
		  		</td>
		  		<td>
		  			<input type="checkbox" onclick="refrescarBTN();" name="layer" value="distritos_homicidios"[distritos_homicidios_check]>Homicidios distritales <br>
		  		</td>
		  		<td>
		  			<input  id="cb_pol_internos" type="checkbox" onclick="refrescarBTN();" name="layer" value="poligonos_internos"[poligonos_internos_check]>Poligonos internos &nbsp;<br>
		  		</td> 
		  		<td>
		  			<input id="ce_capa" type="checkbox" onclick="refrescarBTN();" name="layer" value="centros_educativos"[centros_educativos_check]>Centros educativos <br>
		  		</td>
          <td></td>
          <td>
            <button type="button" onclick="zoom_general();"><i class="fas fa-arrows-alt"></i></button>
          </td>
		  	</tr>
		  </table>
	    </td>
	  </tr>
    <tr>
      <!--<td colspan="4">
        <b>Filtros:</b>
        <input id="filtro_ce" type="checkbox" onclick="refrescarBTN_Switch(0);" name="layer" value="centros_educativos_no_ayuda"[centros_educativos_no_ayuda_check]>Centros escolares que no reciben ayuda&nbsp;
      </td>-->
    </tr>
	  <tr>
	    <td>

<!-- SPECIFY MAP MODE -->
	      <div align="center"><b>Modo del mapa:</b><br>
		<select name="mode">
		  <option value="browse" [browse_select]> Browse </option>
		  <option value="query" [query_select]> Query Single Layer</option> 
		  <option value="nquery" [nquery_select]> Query Multiple Layers</option>
		</select>
	      </div>
	    </td>
	    <td>
<!-- FORM SUBMIT BUTTON -->
	      <div align="center">
			     <input id="refrescar" type="submit" style="display: none;"  name="submit" value="Refrescar">
           <input  type="button" name="validar" value="Refrescar" onclick="validar_zoom();">
	      </div>
	    </td>
	    <td>
<!-- ZOOM/PAN CONTROLS -->
	      <div align="center"><b>Control del mapa:</b> <br>
                <select id="zoom" name="zoom">
                  <option value="4" [zoom_4_select]>Zoom In 4x</option>
                  <option value="3" [zoom_3_select]>Zoom In 3x</option>
                  <option value="2" [zoom_2_select]>Zoom In 2x</option>
                  <option value="0" [zoom_0_select]>Recenter</option>
                  <option value="-2" [zoom_-2_select]>Zoom Out 2x</option>
                  <option value="-3" [zoom_-3_select]>Zoom Out 3x</option>
                  <option value="-4" [zoom_-4_select]>Zoom Out 4x</option>
                </select>
              </div>
	    </td>
	    <!-- REFERENCE COLUMN --> 
	    <td rowspan="2" valign="top"> 
	    	<p><b>Reference:</b><br> <input type="image" name="ref" src="[ref]" width="180" height="180" border="0" style="padding-top: 10px; padding-left: 14px;"></p> 
	    	<p><b>Legend:</b><br> <img name="legend" src="[legend]"></p>
	    </td>
     
	  </tr>
	  <tr>
<!-- DISPLAY THE MAPSERVER-CREATED MAP IMAGE -->
	    <td colspan="3" align="center" valign="top"> 
	      <table border="0" cellspacing="0" cellpadding="0" align="center" bgcolor="#666666">
                <tr>
                  <td align="right" width="18"><a href="javascript:pan('nw')"><img src="http://localhost/tmp/graphics/nw.gif" width="18" height="18" border="0" alt="pan northwest"></a></td>
                  <td align="center"><a href="javascript:pan('n')"><img src="http://localhost/tmp/graphics/n.gif" width="23" height="18" border="0" alt="pan north"></a></td>
                  <td align="left" width="18"><a href="javascript:pan('ne')"><img src="http://localhost/tmp/graphics/ne.gif" width="18" height="18" border="0" alt="pan northeast"></a></td>
                </tr>
                <tr>
                  <td align="right" width="18"><a href="javascript:pan('w')"><img src="http://localhost/tmp/graphics/w.gif" width="18" height="23" border="0" alt="pan west"></a></td>
                  <td align="center"><input id="target" type="image" name="img" src="[img]" width="[mapwidth]" height="[mapheight]" border="0" alt="this is the map" onclick="validar_zoom();"></td>
                  <td align="left" width="18"><a href="javascript:pan('e')"><img src="http://localhost/tmp/graphics/e.gif" width="18" height="23" border="0" alt="pan east"></a></td>
                </tr>
                <tr>
                  <td align="right" width="18"><a href="javascript:pan('sw')"><img src="http://localhost/tmp/graphics/sw.gif" width="18" height="18" border="0" alt="pan southwest"></a></td>
                  <td align="center"><a href="javascript:pan('s')"><img src="http://localhost/tmp/graphics/s.gif" width="23" height="18" border="0" alt="pan south"></a></td>
                  <td align="left" width="18"><a href="javascript:pan('se')"><img src="http://localhost/tmp/graphics/se.gif" width="18" height="18" border="0" alt="pan southeast"></a></td>
                </tr>
              </table>
              <img align="left" src="[scalebar]">
              <img src="/cgi-bin/mapserv?map=[map]&mapext=[minx]+[miny]+[maxx]+[maxy]&map_scalebar=units+kilometers&mode=scalebar" align="right">
	    </td>
      <td>
        <table border="1" style="font-size: 14px;" width="340">
          <tr>
            <b>Filtros por capa</b>
          </tr>
          <tr>
            <td>Distritos</td>
            <td>Poligonos internos</td>
            <td>Centros educativos</td>
          </tr>
          <tr>
            <td>
              <input type="checkbox" onclick="refrescarBTN();" name="layer" value="distritos_ss_porc_desercion"[distritos_ss_porc_desercion_check]>% Desercion
            </td>
            <td>
              <input type="checkbox" onclick="refrescarBTN();" name="layer" value="poligonos_internos_recibe_apoyo"[poligonos_internos_recibe_apoyo_check]>No apoyo
            </td>
            <td>
              <input type="checkbox" onclick="refrescarBTN();" name="layer" value="centros_educativos_no_AT"[centros_educativos_no_AT_check]>No ap AT
            </td>
          </tr>
          <tr>
            <td>
              <input type="checkbox" onclick="refrescarBTN();" name="layer" value="distritos_ss_porc_embarazos"[distritos_ss_porc_embarazos_check]>% Embarazos
            </td>
            <td>
              <input type="checkbox" onclick="refrescarBTN();" name="layer" value="poligonos_internos_porc_desercion"[poligonos_internos_porc_desercion_check]>% Dersercion
            </td>
            <td>
              <input type="checkbox" onclick="refrescarBTN();" name="layer" value="centros_educativos_no_EM"[centros_educativos_no_EM_check]>No ap EM
            </td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td>
              <input type="checkbox" onclick="refrescarBTN();" name="layer" value="centros_educativos_no_MD"[centros_educativos_no_MD_check]>No ap MD
            </td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td>
              <input type="checkbox" onclick="refrescarBTN();" name="layer" value="centros_educativos_no_RD"[centros_educativos_no_RD_check]>No ap RD
            </td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td>
              <input type="checkbox" onclick="refrescarBTN();" name="layer" value="centros_educativos_no_IN"[centros_educativos_no_IN_check]>No ap IN
            </td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td>
              <input type="checkbox" onclick="refrescarBTN();" name="layer" value="centros_educativos_no_MC"[centros_educativos_no_MC_check]>No ap MC
            </td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td>
              <input type="checkbox" onclick="refrescarBTN();" name="layer" value="centros_educativos_no_ME"[centros_educativos_no_ME_check]>No ap ME
            </td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td>
              <input type="checkbox" onclick="refrescarBTN();" name="layer" value="centros_educativos_no_AL"[centros_educativos_no_AL_check]>No ap AL
            </td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td>
              <input type="checkbox" onclick="refrescarBTN();" name="layer" value="centros_educativos_p_p"[centros_educativos_p_p_check]>Público/Privado
            </td>
          </tr>

        </table>
      </td>
	  </tr>

    

	</table>
    </td>
  </tr>



</table>

<!-- HIDDEN MAPSERVER CGI VARIABLES -->
    <input id="map" type="hidden" name="map" value="[map]" />
    <input type="hidden" name="imgext" value="[mapext]" />
    <input type="hidden" name="imgxy" value="[center]" />
</form>
</table>
<script>

  function refrescarBTN_Switch(capa){

    if(capa==0 && document.getElementById("ce_capa").checked){
      document.getElementById("ce_capa").checked = false;
      //document.getElementById("filtro_ce").checked = true;
    }else if(capa==1 && document.getElementById("filtro_ce").checked){
      document.getElementById("filtro_ce").checked = false;
    }

    refrescarBTN();
  }

	function refrescarBTN() {
	  document.getElementById('refrescar').click();
	}

  function validar_zoom(){

    var delta_x = [maxx] - [minx];
    var delta_y = [maxy] - [miny];
    var area = delta_x*delta_y;
    var zoom = document.getElementById('zoom').value;
    if(zoom > 0){
      var area_siguiente = area/zoom;
      var limite = 0.000016708893000004895*2;
        if (area_siguiente < limite) {

          alert("Se alcanzo el limite en el zoom!!");
          document.getElementById('zoom').value = 0;
        
        }else{
          refrescarBTN();
        }
    }else{
      refrescarBTN();
    }
    
  }

  function zoom_general(){


    /*[minx] = -89.311752;
    [miny] = 13.630600;
    [maxx] = -89.129748;
    [maxy] = 13.746300;
    
    refrescarBTN();*/

    document.getElementById('zoom').value = 0;

    var pathname = document.URL; 
    var url_primera_pt = pathname.split("map=");//http://localhost/cgi-bin/mapserv?layer=mun_ss&mode=browse&submit=Refrescar&zoom=4&//map=//%2Fhome%2Fpablo%2FDocumentos%2FUES%2FCiclo_I_2019%2FSGG115%2FProy_HEAD%2FProyecto_GIS%2Fmaps%2Fdesercion_escolar_mun_ss.map&
    var url_tercera_pt =  url_primera_pt[0].split("zoom=");//http://localhost/cgi-bin/mapserv?layer=mun_ss&mode=browse&submit=Refrescar&
    var url_utima_pt = "imgext=-89.311752+13.630600+-89.129748+13.746300&imgxy=275.0+175.0";

    var url_zoom_cero = url_tercera_pt[0] + "zoom=0&map="+url_primera_pt[1];
    var url_corte = url_zoom_cero.split("imgext=");
    var url_completa = url_corte[0] + url_utima_pt;


    window.location.href = url_completa;

    //http://localhost/cgi-bin/mapserv?layer=mun_ss&mode=browse&submit=Refrescar&zoom=4&map=%2Fhome%2Fpablo%2FDocumentos%2FUES%2FCiclo_I_2019%2FSGG115%2FProy_HEAD%2FProyecto_GIS%2Fmaps%2Fdesercion_escolar_mun_ss.map&//imgext=//-89.311752+13.630600+-89.129748+13.746300&imgxy=275.0+175.0
  }
//-89.311752+13.630600+-89.129748+13.746300
</script>

</body>
</html>
